<div class="container-fluid">

<form class="form-inline"  [formGroup]= "filterForm" (ngSubmit)="onFilter()">


    <div class="input-group">
        <div class="input-group-text" id="basic-addon1">
            <label class="">Name:</label>
            <input formControlName="name" value="{{null}}" placeholder="Candidate Name..." />
            <label>Sort:</label>
                    <select formControlName="nameSort">
                        <option  value="0">A to Z</option>
                        <option value="1">Z to A</option>
                     </select>
        </div>
    </div>

    <div class="input-group">
        <div class="input-group-text" id="basic-addon1">
        <label>Department:</label>
        <select formControlName="department">
            <option selected value="Select..." >Select...</option>
            <option *ngFor="let _department of departments"
            value="{{_department.name}}">{{_department.name}}</option>
            </select>
            <label>Sort:</label>
            <select formControlName="departmentSort">
                <option  value="0">A to Z</option>
                <option value="1">Z to A</option>
        </select>
</div>
</div>

<div class="input-group">
    <div class="input-group-text" id="basic-addon1">
    <label>Education:</label>
    <input formControlName="education" value="{{null}}"  placeholder="Education..." />
    <label>Sort:</label>
    <select formControlName="educationSort">
        <option  value="0">A to Z</option>
        <option value="1">Z to A</option>
</select>
</div>
</div>

<div class="input-group">
    <div class="input-group-text" id="basic-addon1">
        <label>Score:</label>
        <input formControlName="score" type="number"
        class="form-control me-2" placeholder="Score..." />
        <select formControlName="arrowScore">
            <option selected value="Current">Current</option>
            <option value="0">Under</option>
            <option value="1">Over</option>
        </select>
        <label>Sort:</label>
        <select formControlName="scoreSort">
            <option  value="0">1 >> 9 </option>
            <option  value="1">9 >> 1</option>
    </select>
    </div>
    </div>

    <div class="input-group">
        <div class="input-group-text" id="basic-addon1">
            <label >Birth Date:</label>
            <input value="{{null}}" formControlName="birthYaer" type="date"
            class="form-control me-2"  placeholder="Year of Birth" />
            <select formControlName="arrowBirth">
                <option value="Current" >Current</option>
                <option value="0">Before</option>
                <option value="1">After</option>
            </select>
            <label>Sort:</label>
            <select formControlName="birthYearSort">
                <option  value="0">1 >> 9 </option>
                <option  value="1">9 >> 1</option>
        </select>
        </div>
        </div>
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
</form>
</div>