<div class="">
  <div class="col-lg-12">
    <h2 *ngIf="isEditMode"> Update Details</h2>
    <h2 *ngIf="!isEditMode"> Create New Candidate</h2>

      <div class="alert alert-success" role="alert" *ngIf="successfulSave">
        Person saved successfully!
      </div>

      <div *ngIf="_errors.Fatal" class="bg-danger" role="alert" >
       {{_errors.Fatal}}
      </div>



        </div>
        <div class="col-lg-9 col-sm-4 col-md-6 ">
      <form [formGroup]= "createForm" (ngSubmit)="onCreate()">

            <div class="form-group">
                <label class="control-label">First Name</label>
                <input formControlName="firstName" class="form-control"
               />
                 <div class="alert alert-danger" role="alert" *ngIf="_errors.FirstName.length > 0">
                     <ul>
                       <li *ngFor="let error of _errors.FirstName">
                         {{error}}
                       </li>
                     </ul>
                   </div>
              </div>
              <div class="form-group">
                <label class="control-label">Middle Name</label>
                <input formControlName="middleName" class="form-control" />
                <div class="alert alert-danger" role="alert" *ngIf="_errors.MiddleName.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.MiddleName">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <input formControlName="lastName" class="form-control"
                placeholder="Last Name ..."/>
                <div class="alert alert-danger" role="alert" *ngIf="_errors.LastName.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.LastName">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label">Department Name </label>
                <select formControlName="departmentName" class="form-control">
                  <option selected> Select...</option>
                  <option *ngFor="let depart of departments" value="{{depart['name']}}">{{depart['name']}}</option>

                </select>
                <div class="alert alert-danger" role="alert" *ngIf="_errors.DepartmentName.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.DepartmentName">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Education</label>
                <input formControlName="education" class="form-control"  placeholder="Educaton / Level"/>
                <div class="alert alert-danger" role="alert" *ngIf="_errors.Education.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.Education">
                      {{error}}
                    </li>
                  </ul>
                </div>
            </div>

              <div class="form-group">
                <label class="control-label">Birth Date </label>

                <input  formControlName="birthDate" class="form-control"
                type="date"  placeholder="{{birthDate}}"/>
                <div class="alert alert-danger" role="alert" *ngIf="_errors.BirthDate.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.BirthDate">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label">Score</label>
                <input formControlName="score" class="form-control" type="number"/>
                <div class="alert alert-danger" role="alert" *ngIf="_errors.Score.length > 0">
                  <ul>
                    <li *ngFor="let error of _errors.Score">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>


              <div *ngIf="isEditMode" class="form-group">
                <button type="submit"  class="btn-options details edit">Update</button>
               <a href="/details/{{id}}" > <button type="button" class="btn-options details back">Cancel</button> </a>
              </div>
              <div *ngIf="!isEditMode" class="form-group">
                <button type="submit"  class="btn-options details edit">Create</button>
               <a href="/" > <button type="button" class="btn-options details back">Cancel</button> </a>
              </div>

        </form>
    </div>