<div class="row">
  <div class="col-lg-12">
    <h2>Details</h2>
  </div>
  <div class="col-lg-9 col-sm-4 col-md-6 ">
          <div class="form-group">
              <label class="control-label">First Name</label>
              <input  class="form-control" disabled value="{{user.firstName}}"
             />
            </div>
            <div class="form-group">
              <label class="control-label">Middle Name</label>
              <input  class="form-control" disabled value="{{user.middleName}}"
             />
            </div>
            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input  class="form-control" disabled value="{{user.lastName}}"
           />
            </div>


            <div class="form-group">
              <label class="control-label">Department Name </label>
              <input  class="form-control" disabled value="{{user.departmentName}}"/>
            </div>

            <div class="form-group">
              <label class="control-label">Education</label>
              <input  class="form-control" disabled value="{{user.education}}"
              />

          </div>

          <div class="form-group">
            <label class="control-label">Birth Date</label>
            <input  class="form-control"  disabled  value="{{user.birthDate |  date:'yyyy-MM-dd'}}"/>

          </div>


          <div class="form-group">
            <label class="control-label">Score</label>
            <input class="form-control" type="number" disabled value="{{user.score}}"/>
          </div>


          <div  class="form-group">
           <button class="btn-options delete details" (click)="onDelete()">Delete</button>
              <a  href="/edit/{{user.id}}"> <button class="btn-options edit details" >Edit</button> </a>
              <a href="/" > <button type="button" class="btn-options details back">Back</button> </a>
          </div>
        </div>
  </div>