table th {
  background: rgb(31, 24, 24);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
 }
 table td, th {
  padding: 6px 6px 6px 10px;
  border: 1px solid #ccc;
  text-align:center;
 }

 /* CSS3 Zebra Striping */
 table tr:nth-of-type(odd) {
  background: #eee;
 }

 /* Automatic Serial Number Row */
 .css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
 }
 .css-serial td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
 }
/*nav*/
 .site-header .navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #cbd5db;
  padding-right: 10;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  text-decoration: underline;
}

.dropdown-menu {
  padding-right: 5rem !important;
  border-radius: 0px !important;
}

.dropdown-menu .nav-link {
  color: #000 !important;
  font-size: 0.9rem !important;
}

.dropdown-menu .nav-link:hover {
  background: #eee;
}
a {
  color: #0366d6;
}
table a{color: black;}
.order{
 padding: 2px;
 margin: 2px;
 color: #ccc;
border-style: ridge;
 border-radius:  4p;
}
.btn-options{
margin: 2 px;
padding: 2 px;
border-radius:  3px;
color: white;
}
.edit{
background-color: green;
  }
  .delete{

    background-color: red;
  }
  .details{margin: 10px;}

.body{
  padding-left: 2%;
  padding-right: 2%;

}

.navbar {
  background-color: crimson;

}
.navbar a{ color: whitesmoke;}

footer{background-color: grey;}
footer span{
  color: whitesmoke;
  font-size: 70%;
}